.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.App-aliances {
  height: 10vmin;
  pointer-events: none;
  
}
@media screen and (min-width: 750px) and (max-width: 840px) {
  .App-aliances {
    height: 5vmin; /* Cambia la altura en pantallas con un ancho máximo de 768px */
  }
  .App-sweaden {
    height: 1vmin;
    
  }
  
}
.App-sweaden {
  height: 14vmin;
  pointer-events: none;
}

.image-Radius {
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .image-Radius {
    height: 12rem;
    width: 12rem;
  }
  
}




