.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  pointer-events: none;
}



@media screen and (min-width: 600px) and (max-width: 900px) {
  .App-logo {
    height: 50px;
    width: 50px;
  }

}

.App-sweaden {
  height: 14vmin;
  pointer-events: none;
}

.image-Radius {
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.image-Radius-Background {
  height: 10rem;
  width: 10rem;
  
  justify-content: center;
  align-items: center;
  border-radius: 50%;
 
}

.image-Radius-Background-Blue {
  height: 9rem;
  width: 9rem;
  
  justify-content: center;
  align-items: center;
  border-radius: 50%;
 
}




@media screen and (max-width: 599px) {
  .image-Radius {
    height: 3.5rem;
    width: 3.5rem;
  }

  .image-Radius-Background {
    height: 4.5rem;
    width: 4.5rem;
   
  }

  .image-Radius-Background-Blue{
    height: 7rem;
    width: 7rem;
   
  }

  .image-aliance-swiper {
    width: 100px;
    height: 60px;
  }

  .image-aliance-footer {
    width: 90px;
    height: 54px;
  }

  .App-logo {
    height: 40px;
    width: 40px;
  }

 
}

.image-aliance-swiper {
  width: 300px;
  height: 180px;
}

.image-background-aliance-swiper {
  width: 390px;
  height: 200px;
  border-radius: 10px;
}

.image-aliance-footer {
  width: 150px;
  height: 90px;
}